<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %>
<body>

    <%- include('./partial/nav.ejs') %>
      <div class="create-blog content">
        <% if(typeof data != 'undefined') {%>
               <%  data.map((item)=>{   %>
    <p style="text-align: center; display: flex; justify-content: center; align-items: center;"><%= item.msg %></p>

           <%    })  %>

            <% } %>
     
        <form action="/register"  method="POST">
          <label for="title">first name:</label>
          <input type="text" id="firstname" name="firstname" >
          <label for="snippet">Last Name:</label>
          <input type="text" id="lastname" name="lastname" >
          <label for="body">Email:</label>
          <input type="text" id="email" name="email" >
          <label for="body">password:</label>
          <input type="text" id="password" name="password" >
          <label for="body">confirm password:</label>
          <input type="text" id="confirm_pass" name="confirm_pass" >
          <button>Submit</button>
        </form>
      </div>
      <%- include('./partial/footer.ejs') %>
</body>
</html>