<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        .whole{
            width:100%;
            padding: 0%;
            margin: 0%;
          
        }
        .left{
            width:8%;
            float: left;
            text-align: left;
            text-transform: capitalize;
        }
        .bodys{
            width:100%;
            text-align: center;
            text-transform: capitalize;
            display:flex;
            justify-content:center;
            align-items: center;

        }
    </style>
</head>
<body>
<section class="whole">
  <span class="whole">
    <div class="left">
        <%= name %>
    </div>
  </span>

  <div class="bodys">
    <%= content %>
  </div>
  
</section>

    
</body>
</html>