<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- this is how to output the data coming from the route file(app.js file) <%= title %> -->
    <title>Blog Ninja | <%= title %></title>
   <link rel="stylesheet" href="/style.css" />
  </head>